@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ultra&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}

body::-webkit-scrollbar {
    margin: 0rem;
}